body {
  font-family: "Roboto", "Arial", sans-serif;
	background-color: #eedfaf;
	font-weight: 400;
}
#my_image {
	margin-bottom: 20px;
}

.button-wrapper{
  display: flex;
  justify-content: center;
}

.ff {
	margin-bottom: 10px;
}
.give-image {
	position: relative;
	display: block;
	margin: 0 auto;
	background-color: #e7e7e7;
	border: 2px solid black;
	border-radius: 30px;
	width: 40%;
	min-height: 470px;
	margin-bottom: 30px;
	margin-top: 30px;

}

.result {
	display: block;
	margin: 0 auto;
	border: 2px solid black;
	border-radius: 30px;
	width: 30%;
	height: 100px;
}

.image {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}
